In [15]:
import pandas as pd
import sys

In [59]:
table = pd.read_csv("SWTSX_FundHoldings_2020-12-31.csv")
table

,As-Of-Date,Symbol,Name,% of Assets,Market Value
0,2020-12-31,AAPL,APPLE INC COMMON STOCK USD.00001,5.421952,7.519257e+08
1,2020-12-31,MSFT,MICROSOFT CORP COMMON STOCK USD.00000625,4.299386,5.962464e+08
2,2020-12-31,AMZN,AMAZON.COM INC COMMON STOCK USD.01,3.551460,4.925227e+08
3,2020-12-31,FB,FACEBOOK INC CLASS A COMMON STOCK USD.000006,1.678802,2.328192e+08
4,2020-12-31,TSLA,TESLA INC COMMON STOCK USD.001,1.368412,1.897737e+08
...,...,...,...,...,...
3225,2020-12-31,NaN,CONTRA RESTORBIO INC COMMON STOCK,0.000000,0.000000e+00
3226,2020-12-31,NaN,NEW CENTY FINL CORP MD COM,0.000000,0.000000e+00
3227,Holdings may include collateral held by the fu...,NaN,NaN,NaN,NaN
3228,Any fund holdings shown should not be consider...,NaN,NaN,NaN,NaN
3229,Charles Schwab Investment Management believes ...,NaN,NaN,NaN,NaN

In [17]:
varName = "s"

text = []

var + index + " = input('" + ticker + "', type=input.symbol)
if __name__ == "__main__":
    for index, row in df.iterrows():
        text.append(str(f'{var} + {index} + " = input('\" + ticker + \"', type=input.symbol)"))
        text.append(("\n   "))

    with open('output.txt', 'w') as f:
        for t in text:
            f.write(t + '\n')
            if write: print(t)
        print(' wrote output.txt')

SyntaxError: EOL while scanning string literal (<ipython-input-17-7c3da3f81a68>, line 5)

In [18]:
str(f'{var} + {index} + " = input('\" + ticker + \"', type=input.symbol)")

SyntaxError: unexpected character after line continuation character (<ipython-input-18-6f4b2c6a53cb>, line 1)

In [27]:
var = "s"
index = 1
ticker = "tx"
print(str(f'{var}{index} = input(\'{ticker}\', type=input.symbol)'))

s1 = input('tx', type=input.symbol)

In [20]:
index = 1

In [29]:
str(f'{var}{row} = input(\'{row['Symbol']}\', type=input.symbol)')

SyntaxError: invalid syntax (<ipython-input-29-734762f40ade>, line 1)

In [30]:
text = []

In [47]:
for index, row in table.iterrows():
    ticker = row['Symbol']
    text.append(str(f'{var}{index} = input(\'{ticker}\', type=input.symbol)'))
    text.append(("\n   "))

In [51]:
print(text[0])

s0 = input('AAPL', type=input.symbol)

In [42]:
if True:
    print("yes")

yes

In [58]:
t1 = "nan"
if table['Symbol'].values[3229] == "nan":
    print("True")
else:
    print("False")

False

In [56]:
print(table['Symbol'].values[3229])

nan